
@import url('https://fonts.cdnfonts.com/css/rubik');
@import url('https://fonts.cdnfonts.com/css/dm-sans');

*{
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: #ffffff;
  font-style: normal;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: #ffffff;
}
a:hover{
  text-decoration: underline;
}
ul{
  padding-inline-start: 0;
}
ul li{
  list-style: none;
}
button{
  cursor: pointer;
  border: none;
  background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
  border-radius: 5px;
  color: #F9FAFB;
}

@mixin font-style($weight:400, $size:18px, $line-height:24px, $color: #ffffff){
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}
@mixin flex($gap:10px,$direction:row,$align:center, $justify:center){
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}
@mixin button($padding: 12px, $width:132px){
  padding: $padding 0;
  width: $width;
}

body{
  background: #111827;
  // background: #e3ecff;
}
// header, main, footer{
//   background: #ffffff;
// }
/* Header */
header{
  padding: 40px 0;
}
.header_content_wrapper{
  @include flex($gap:0,$direction:row,$align:center, $justify:space-between);
}
nav, nav ul{
  @include flex($gap:60px,$direction:row,$align:center, $justify:space-between);
}
nav ul li a{
  @include font-style(500, 14px, 18px, #F9FAFB);
}
nav button{
  @include button();
}
.logo a{
  width: fit-content;
  @include flex($gap:7.75px);
}
.logo_text{
  font-family: 'Rubik', sans-serif;
  @include font-style(500, 20px);
}
.logo a:hover{
  text-decoration: none;
}
/* Main section */
h1{
  @include font-style(700, 3.625rem, 5.25rem);
  letter-spacing: 0.02em;
  background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}
.main-section_content-wrapper{
  padding-bottom: 66px;
  @include flex($gap:0,$direction:row,$align:center, $justify:space-between);
}
.main-section_text{
  width: 50%;
  @include flex($gap:30px,$direction:column,$align:flex-start, $justify:center);

}
.main-section_text p{
  @include font-style(500, 15px, 30px,#E5E7EB);
  opacity: 0.8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}
.main-section_photo{
  width: 50%;
  
}
.main-section_photo img{
  max-width: 100%;
  // background: #fff;
}
.main-buttons{
  @include flex($gap:20px,$direction:row,$align:center, $justify:center);

}
.main-buttons button:nth-child(1){
  @include button(20px,135px);
  @include font-style(500, 16px, 21px,#F9FAFB);
}
.watch_video_button{
  @include font-style(500, 16px, 21px,#F9FAFB);
  background: transparent;
  @include button(20px,fit-content);
  @include flex($gap:20px,$direction:row,$align:center, $justify:center);
}
.watch_video_button:hover .play{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
/* Service section */
.service_content-wrapper{
  @include flex($gap:35px,$direction:column,$align:center, $justify:center);
  padding: 60px 0;
}
.service_content-wrapper h2{
  @include font-style(700, 42px, 55px,#ffffff);
}
.service_content-wrapper>p{
  @include font-style(400, 16px, 26px,#fff);
  text-align: center;
  max-width: 587px;
}
.service_points{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 30px;
}
.service_point{
  
  @include flex($gap:20px,$direction:column,$align:center,$justify:center);
  padding: 33px 0;
  border: 1px solid #403e4693;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
}
.service_point img{
  position: relative;
  animation: up-down infinite ease-in-out 2s;
  -webkit-animation: up-down infinite ease-in-out 2s;
}
.service_point:nth-child(2n) img{
  animation: up-down infinite ease-in-out 2.5s;
  -webkit-animation: up-down infinite ease-in-out 2.5s;
}
.service_point:nth-child(3n) img{
  animation: up-down infinite ease-in-out 3s;
  -webkit-animation: up-down infinite ease-in-out 3s;
}
.service_point h3{
  @include font-style(500, 24px, 31px,#ffffff);
}
.service_point p{
  width: 90%;
  @include font-style(400, 16px, 26px,#ffffff);
}
.service_point button{
  @include font-style(400, 16px, 26px,#ffffff);
  background: transparent;
  @include flex($gap:0,$direction:row,$align:center, $justify:center);
}
.service_point button:hover svg{
  position: relative;
  animation: arrow infinite ease-in-out 0.7s;
  -webkit-animation: arrow infinite ease-in-out 0.7s;
}
@keyframes arrow {
  0% {
    left: 0;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0;
  }
}
@keyframes up-down {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
/* Project section */
.complete_content-wrapper {
  padding: 60px 0;
}
.complete-project {
  @include flex($gap:0,$direction:row,$align:center, $justify:space-between);
}
.complete-project:nth-child(2) {
  @include flex($gap:0,$direction:row-reverse,$align:center, $justify:space-between);
}
.project-text {
  @include flex($gap:30px,$direction:column,$align:flex-start, $justify:center);

}
.project-text h2{
  @include font-style(700, 42px, 55px,#fff);

}
.project-text p{
  @include font-style(400, 16px, 26px,#fff);

}
.project-text button{
  @include button(7px,99px);
  @include font-style(400, 14px, 18px,#fff);

}
/* Team section */
.team_content-wrapper {
  padding: 60px 0;
  @include flex($gap:35px,$direction:column,$align:center, $justify:center);
}
.team_content-wrapper h2{
  @include font-style(700, 42px, 55px,#fff);

}
.team_content-wrapper p{
  @include font-style(400, 16px, 21px,#fff);
  max-width: 480px;
  text-align: center;
}
.team {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 30px;
}
.team_member {
  padding: 33px 0;
  border: 1px solid #403e4693;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
  @include flex($gap:10px,$direction:column,$align:center, $justify:center);
}
.team_member img{
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  transform: rotate(-4.08deg);
}
.team-member_name {
  @include font-style(500, 28px, 36px,#fff);
}
.team-member_position {
  @include font-style(400, 16px, 21px, #fff);
  letter-spacing: 0.03em;
}
.social_medias {
  @include flex($gap:12px,$direction:row,$align:center, $justify:center);
}
.social_medias svg{
  cursor: pointer;
  position: relative;
  animation: up-down infinite ease-in-out 2s;
  -webkit-animation: up-down infinite ease-in-out 2s;
}
.social_medias svg:nth-child(2){
  animation: up-down infinite ease-in-out 2.5s;
  -webkit-animation: up-down infinite ease-in-out 2.5s;
}
.social_medias svg:nth-child(3){
  animation: up-down infinite ease-in-out 3s;
  -webkit-animation: up-down infinite ease-in-out 3s;
}
.social_medias svg:nth-child(4){
  animation: up-down infinite ease-in-out 3.5s;
  -webkit-animation: up-down infinite ease-in-out 3.5s;
}
.social_medias svg:hover{
  animation: none;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-animation: none;
}
/* Subscribe section */
.subscribe_content-wrapper{
  margin: 60px 0;
  border: 1px solid #403e4693;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
  padding: 35px 0;
  @include flex($gap:20px,$direction:column,$align:center, $justify:center);
}
.subscribe_content-wrapper h2{
  @include font-style(700, 42px, 55px,#fff);
}
.subscribe_content-wrapper p{
  @include font-style(400, 16px, 30px,#fff);
  opacity: 0.8;
}

form {
  width: 80%;
  display:flex;
  flex-direction:row;
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
  border-radius: 70px;
  padding: 10px;
  padding-left: 44px;
  height: 80px;
}

input {
  background: transparent;
  flex-grow:2;
  border:none;
  @include font-style(400, 18px, 30px,#fff);
}
input::placeholder{
  @include font-style(400, 18px, 30px,#fff);
  font-family: 'Rubik', sans-serif;
}
input:focus {
  outline: none;
}

form:focus-within { 
  outline: 1px solid rgb(113, 113, 131);
}

form button{
  @include flex($gap:8px,$direction:row,$align:center, $justify:center);
  @include font-style(400, 20px, 30px,#fff);
  @include button(15px,196px);
  opacity: 0.9;
  border-radius: 70px;
}